

.error-message {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.markdownContainer {
  font-size: 14px;
}

.markdownContainer > p {
  padding-top: 0;
  margin-top: 0;
}

.markdownContainer *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
